body {
  font-family: sans-serif;
  width: 80%;
  margin-left: 10%; margin-right: 10%;
}
h1 {
  color: blue;
}
h2 {
  color: green;
}
.accommondation {
  border: 2px solid blue;
  margin: 20px;
  border-style: none;
  width: 60%;

}
img {
  margin: 6px;
}
@media screen and (min-width: 768px) {
  body {
    background-color: lightgray;
  }
  .column {
    float: left;
    padding: 6px;
    margin: 20px;
  }
  .column img {
    float: left;
  }
  .column p {
    margin: 20px;
    padding: 6px;
  }
}
